<div class="banner" style="background-image: url(<%= image_path "240_F_332753934_tBacXEgxnVplFBRyKbCif49jh0Wz89ns.jpg" %>)">
  <div>
    <h1><%= @category.name.capitalize %></h1>
  </div>
</div>

<div class="container">

  <div class="info-container my-3">
    <h3>Recipes</h3>
    <%= link_to 'Add a Recipe', new_category_bookmark_path(@category), class: "btn btn-warning" %>
  </div>

  <div class="cards">
     <% @category.bookmarks.each do |bookmark| %>
      <div class="card-recipe">

        <%= link_to bookmark_path(bookmark),
         data: {turbo_method: :delete,
                turbo_confirm: "Are you sure?"}, class: "btn btn-delete" do %>

        <i class="fa-solid fa-trash"></i>

        <% end %>
        <img src="<%= bookmark.recipe.image_url %>" alt="recipe image">
        <div class="card-recipe-description">
          <h2><%= bookmark.recipe.name %></h2>
          <p><%= bookmark.recipe.description.truncate(200) %></p>
        </div>

        <div class="card-recipe-info">
          <div>
            <i class="fa-solid fa-quote-left me-2"></i><%= bookmark.comment %>
          </div>

          <div>
            <%= bookmark.recipe.rating %> <%= '⭐️' * bookmark.recipe.rating %>
          </div>
        </div>

        </div>


     <% end %>
  </div>

</div>
